@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header {
    height: 64px;
    width: 100%;
}

.header-inner {
    width: 1100px;
    display: flex;
    height: 64px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.header-wallet-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 22px;
}

.header-wallet-connect i {
    cursor: pointer;
}

.header-search input {
    width: 259px;
    height: 40px;
    border: 1px solid rgba(231, 231, 231, 1);
    background-color: rgba(245, 245, 245, 1);
    padding-left: 10px;
    font-size: 17px;
    outline: none;
}

.header-inner a {
    color: black;
}

.header-sign-in {
    cursor: pointer;
}

.section1 {
    width: 1420px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.section-flex {
    display: flex;
    align-items: center;
    height: 700px;
    justify-content: space-around;
    border-radius: 16px;
    background-color: rgba(246, 248, 250, 1);
}

.section-flex-text {
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(47, 47, 47, 1);
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    gap: 35px;
    width: 400px;
}

.main-text h1 {
    font-size: 40px;
}

.main-text p {
    font-size: 20px;
}

.section-flex-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-flex-btns button:nth-child(1) {
    width: 203px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: rgba(59, 97, 255, 1);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.section-flex-btns button:nth-child(2) {
    width: 233px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    color: #000;
}

.section-flex-text-flex ul {
    display: flex;
    gap: 30px;
}

.section-flex-text-flex ul li {
    font-size: 12px;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bottom-img {
    display: flex;
    align-items: center;
    gap: 24px;
}

.bottom-img p {
    font-size: 12px;
    color: rgba(47, 47, 47, 1);
}

.section-flex-img {
    position: relative;
}

.section-flex-img img {
    scale: 1.3;
    margin-left: 11%;
    margin-top: -15%;
}

.section-2-card {
    display: flex;
    color: #fff;
    width: 536px;
    padding: 25px;
    border-radius: 16px;
    height: 592px;
    background-color: rgba(95, 100, 85, 1);
    flex-direction: column;
}

.card-text-flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-text-flex ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-main-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-main-text p {
    font-size: 12px;
}

.card-main-text h1 {
    font-size: 24px;
    line-height: 34px;
}

.card-text-flex button {
    width: 118px;
    height: 48px;
    color: black;
    font-size: 16px;
    background-color: transparent;
    border: 3px solid black;
}

.section-2-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2-title {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 110px;
}

.section-2-title h1 {
    font-size: 32px;
    font-weight: 400;
}

.section-2-title h1:nth-child(2) {
    color: rgba(148, 148, 148, 1);
}

.section2 {
    height: 900px;
    display: flex;
    align-items: center;
}

.uses-flex {
    width: 1200px;
    margin: 0 auto;
    height: 1220px;

}

.uses-text {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 40px;
    font-size: 20px;
}


.uses-text p {
    color: #949494;
}

.uses-name {
    color: #949494;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.uses-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 4rem;

}

.uses-card {
    width: 304px;
    height: 424px;
    top: 1200px;
    left: 32px;
    border-radius: 16px;
    background-color: #F6F8FA;
    font-size: 20px;
}

.uses-tekst {
    display: flex;
    text-align: center;
    color: #949494;
    gap: 10px;
}

.uses {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uses-boks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 500px;
}

.text {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    height: 50px;
    color: #2F2F2F;
    font-size: 20px;
}

.section11 {
    height: 1500px;
    display: flex;
    align-items: center;
}

.needs_text {
    display: flex;
    gap: 10px;
}

.needs_text p {
    color: #949494;
    font-size: 25px;
}


.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card_one {
    background-image: url('./img3/IMAGE.png');
    width: 516px;
    height: 650px;
    border-radius: 16px;
    color: #FFFFFF;
    padding: 24px;
}

.card_two {
    background-image: url('./img3/IMAGE\ \(1\).png');
    width: 516px;
    height: 650px;
    border-radius: 16px;
    padding: 24px;
}

.card_three {
    background-image: url('./img3/1b899c231e0bdbba964b686d7353d065b63ed985.png');
    width: 516px;
    height: 650px;
    border-radius: 16px;
    color: #FFFFFF;
    padding: 24px;
}

.cards_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.card_footer {
    display: flex;
    justify-content: space-between;
}

.flage {
    width: 24px;
    height: 24px;
}

.card_header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_btn {
    background: #ffffff00;
    border: 1.5px solid black;
    color: black;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    border-width: 2px;
    transition: 1s;
}

.card_btn:hover {
    background: #ffffff00;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;
    width: 160px;
    height: 35px;
    border-radius: 2px;
    border-width: 2px;
}

.btn {
    background: #ffffff00;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    border-width: 2px;
    transition: 1s;
}

.btn:hover {
    background: #ffffff00;
    border: 1.5px solid black;
    color: black;
    width: 160px;
    height: 35px;
    border-radius: 2px;
    border-width: 2px;
    transition: 1s;
}

.part {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer_box {
    max-width: 1024px;
    height: 816px;
    width: 100%;
    border-radius: 16px;
    background-color: #F6F8FA;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.foot_card img {
    width: 309px;
    height: 136px;
}

.foot_card h2 {
    color: #2F2F2F;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.foot_card a {
    text-decoration: none;
    color: #2F2F2F;
    font-size: 14px;
}

.columb {
    width: 93%;
    display: flex;
    justify-content: start;
    gap: 110px;
    height: 600px;
    margin-top: 64px;
}

.columb_one {
    max-width: 287px;
}

.columb_one h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #2F2F2F;
    margin-top: 32px;
    line-height: 32px;
}

.columb_one_img {
    display: flex;
    gap: 16px;
    margin-top: 23px;
}

.columb_one p {
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    color: #2F2F2F;
    line-height: 24px;
    margin-top: 24px;
}

.columb_one a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 400px;
    color: #2F2F2F;
    line-height: 24px;
    margin-top: 24px;
    text-decoration: none;
}

.columb_two {
    width: 133px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
}

.columb_two a {
    text-decoration: none;
    color: #2F2F2F;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.columb_three {
    width: 133px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
}

.buttons {
    display: flex;
    gap: 5px;
}

.were_btn {
    background-color: #3B61FF;
    width: 77px;
    height: 24px;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
}

.columb_three a {
    text-decoration: none;
    color: #2F2F2F;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.columb_four {
    width: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
}

.columb_four a {
    text-decoration: none;
    color: #2F2F2F;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.footer_star {
    border-top: solid #C5C5C5;
    width: 93%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_star a {
    color: #2F2F2F;
    text-decoration: none;
}

.footer_star img {
    width: 80px;
    height: 20px;
}

.footer_blocks {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer_block {
    display: flex;
    flex-direction: column;
}

.footer_block a {
    display: flex;
    flex-direction: column;
    color: #2F2F2F;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.footer_block_two {
    display: flex;
    flex-direction: column;
}

.footer_block_two a {
    display: flex;
    flex-direction: column;
    color: #2F2F2F;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;

}

.icons {
    display: flex;
    gap: 14px;
    margin: 14px;
}

.footer {
    height: 1100px;
    display: flex;
    align-items: center;
}